<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!--Menu : School-->
    <menuitem id="school_school" name="School" sequence="10"/>
    <menuitem id="school_academic" name="Academic" sequence="20"/>
    <menuitem id="school_standard" name="Standard" sequence="30"/>
    <menuitem id="school_student" name="Student" sequence="40"/>
    <menuitem id="school_staff" name="Staff" sequence="50"/>
    <menuitem id="school_hr" name="Human Resources" sequence="50"/>
    <menuitem id="school_inventory" name="Inventory" sequence="60"/>
    <menuitem id="school_procurement" name="Procurement" sequence="70"/>
    <menuitem id="school_account" name="Accounts" sequence="80"/>
    <menuitem id="school_report" name="Reports" sequence="90"/>

</odoo>
